# Python
__pycache__/
*.pyc
venv/
.env

# Jupyter
.ipynb_checkpoints/

# ML / Data
data/ 
models/
outputs/

# Logs
*.log

# Web
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db